.input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--dark-gray);
  box-shadow: inset 0 -3px 2px var(--light-gray);
  padding: 20px;
}

.input__image {
  width: 22px;
}

.input__field {
  border: none;
  outline: none;
  font-size: 32px;
  font-weight: 100;
  font-style: italic;
  color: var(--black);
  background: transparent;
}

@media (max-width: 768px) {
  .input__field {
    font-size: 25px;
  }
}

@media (max-width: 425px) {
  .input {
    gap: 10px;
    padding: 10px 15px;
  }

  .input__field {
    font-size: 18px;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--light-gray);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--light-gray);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--light-gray);
}
